# Created by venv; see https://docs.python.org/3/library/venv.html


# Hide the secret environment variables file
.env

# Hide the raw data download file we created earlier
raw_data.xml

# Hide Python cache files
__pycache__/


*API name 
Client ID  f3129d3ddfb1a3c421a33d92438b1a7e,
Client Secret API Key c1c193a4b233044a9e1a980a5b148474

check here to  resources for API documentation Deutsche bahn , https://developers.deutschebahn.com/db-api-marketplace/apis/start?check_logged_in=1

timestable_API_

Client ID 77840278f26fe5fe0ef6c26c1f05185b
Client Secret(API Key) 9ff76d5528fe402c1ad9f7ad73aa25c1